<h2>Celebrity details:</h2>
<b>Name: </b>{{celebrity.name}}
<b>Occupation: </b>{{celebrity.occupation}}
<b>Catch Phrase: </b>{{celebrity.catchPhrase}}
<form action='/celebrities/{{celebrity._id}}/edit'>
  <button>Edit</button>
</form>